/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --border-color: #d9d9d9;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 18px;
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-container {
  width: 100%;
  max-width: 1440px;
}

/****** Header ***********/

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.logo-container {
  padding: 30px 50px;
}

.logo-container img {
  width: 61.09px;
  height: 19px;
}

.nav-links {
  display: flex;
  padding: 0 50px;
  list-style: none;
  gap: 68px;
}

.nav-links li {
  padding-top: 16px;
  border-top: transparent 2px solid;
  transition: color 0.2s ease-in-out, border-color 0.2s ease;
}

.nav-links li:hover {
  color: var(--main-color);
  border-color: var(--main-color);
}

/****** Main ***********/

.main-content,
footer {
  margin: 0 50px;
}

.main-content {
  display: grid;
  grid-template-columns: 65% 32%;
  grid-template-rows: auto auto;
  grid-template-areas:
    "s1 s1"
    "s2 s3"
    "s4 s4";
  column-gap: 3%;
}

.main-content section {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

/****** Main header ***********/

#main-header {
  grid-area: s1;
  gap: 35px;
}

#main-header .section-title {
  margin-bottom: 8px;
}

/****** Search form ***********/
.search-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 377px;
  height: 50px;
  border-radius: 15px;
  border: var(--main-bg-color) 1px solid;
}

.search-form-icon {
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--main-bg-color);
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}

.fa-location-dot {
  font-size: 18px;
  color: #000000;
}

.search-input {
  height: 100%;
  border: none;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  padding: 0;
  min-width: 0;
  flex: 1;
}

.search-button {
  background: var(--main-color);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: #ffffff;
  padding: 15px 16px;
  font-size: 18px;
  font-weight: 700;
  border: none;
}

.search-button-xs {
  display: none;
}

/****** Filters ***********/

.filters-container {
  display: flex;
  gap: 15px;
  align-items: center;
  width: fit-content;
}

.filter-buttons-container {
  display: flex;
  gap: 15px;
}

.filter-button {
  display: flex;
  gap: 10px;
  align-items: center;
  height: 50px;
  border-radius: 25px;
  border: var(--border-color) 2px solid;
  background: none;
  padding: 4px 19px;
}

.filter-button:hover {
  background: var(--filter-bg-color);
  transition: 0.2s ease-in-out;
}

.filter-button i {
  font-size: 22px;
}

.fa-money-bill-wave {
  transform: scale(0.9);
}

.filter-button span {
  font-size: 17px;
  font-weight: 700;
}

/****** Info ***********/

.info-main-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-icon-container {
  width: 22.4px;
  height: 22.4px;
  border-radius: 50%;
  border: var(--border-color) 1px solid;
  position: relative;
}

.fa-info {
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/****** Main sections ***********/

.main-sections {
  padding: 30px;
  gap: 30px;
}

.accommodations-sections {
  background-color: var(--main-bg-color);
  border-radius: 20px;
}

.cards-container {
  display: flex;
  gap: 30px;
}

.card {
  display: flex;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  flex-grow: 1;
}

.card-title {
  font-size: 16px;
  margin: 0;
}

.card-subtitle {
  font-size: 14px;
}

.euro {
  font-weight: 700;
}

.card-rating {
  letter-spacing: -0.1em;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Accommodations ***********/

#accommodations {
  grid-area: s2;
}

.accommodations-cards {
  flex-wrap: wrap;
  justify-content: space-between;
}

.accommodations-cards a {
  flex: 1 1 30%;
  height: 207.25px;
}
.accommodations-cards .card {
  flex-direction: column;
  height: 100%;
}

.accommodations-cards img {
  height: 114px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 5px;
}

.accommodations-cards .card-content {
  justify-content: space-evenly;
}

#more-accommodations {
  width: fit-content;
  font-size: 18px;
  font-weight: 700;
}

/****** Popular ***********/

#popular {
  grid-area: s3;
}

.popular-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-cards {
  flex-direction: column;
}

.popular-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
  justify-content: space-between;
}

.popular-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.popular-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activities ***********/

#activities {
  grid-area: s4;
}

.activities-cards {
  justify-content: space-between;
}

.activities-cards a {
  flex: 1 1 25%;
  height: 439px;
}

.activities-cards .card {
  flex-direction: column;
  height: 100%;
  padding: 0;
}

.activities-cards img {
  width: 100%;
  height: 380px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activities-cards .card-content {
  padding: 0 19px;
  justify-content: center;
}

/****** Footer ***********/

footer {
  display: flex;
  background: var(--main-bg-color);
}

.footer-content {
  width: 33%;
  padding: 20px;
}

.footer-links li {
  margin-top: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  /****** Header ***********/
  .nav-links li.active-nav-link {
    color: var(--main-color);
    border-color: var(--main-color);
  }

  /****** Main ***********/

  .main-content {
    display: flex;
    flex-direction: column;
  }

  /****** Main-header -- Filters ***********/

  .filters-container {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    height: fit-content;
  }

  .filter-buttons-container {
    height: 50px;
    gap: 20px;
  }

  .active-filter-button {
    background: var(--filter-bg-color);
  }

  .filter-button span {
    font-size: 16px;
  }

  /****** Main sections ***********/

  #accommodations {
    margin-bottom: 50px;
  }

  #popular {
    gap: 20px;
  }

  .popular-cards {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }

  .popular-cards a {
    flex: 1 1 33%;
  }

  .activities-cards a {
    height: 270px;
  }

  .activities-cards img {
    height: 74%;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /****** Header ***********/

  header {
    flex-direction: column;
  }

  .logo-container {
    padding: 30px 0;
    display: flex;
    justify-content: center;
  }

  .nav-links {
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 0;
    padding: 0;
  }

  .nav-links li {
    width: 50%;
    text-align: center;
    padding: 0 0 15px 0;
    border-top: none;
    border-bottom: var(--main-bg-color) 2px solid;
  }

  /****** Main ***********/

  .main-content,
  footer {
    margin: 0;
  }

  /****** Main-header ***********/

  #main-header {
    padding: 0 20px;
  }

  /****** Search form ***********/

  .search-form {
    width: 100%;
    max-width: 385px;
  }

  .search-button {
    display: none;
  }

  .search-button-xs {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border: none;
  }

  .fa-magnifying-glass {
    color: #ffffff;
    font-size: 17px;
  }

  /****** Filters ***********/

  .filters-container {
    width: 100%;
    gap: 20px;
  }

  .filter-buttons-container {
    flex-wrap: wrap;
    height: fit-content;
    column-gap: 10px;
  }

  .filter-button {
    width: calc(50% - 5px);
    max-width: 270px;
  }

  .filter-button span {
    font-size: 14px;
  }

  .active-filter-button {
    background: none;
  }

  .active-xs-filter-button {
    background: var(--filter-bg-color);
  }

  /****** Main ***********/

  .accommodations-sections {
    border-radius: 0;
    margin: 0;
    gap: 15px;
  }

  .cards-container {
    flex-direction: column;
    gap: 15px;
    justify-content: flex-start;
  }

  #popular {
    order: 1;
    padding: 30px 20px;
    margin-bottom: 15px;
  }

  #accommodations {
    order: 2;
    background: #ffffff;
    padding: 20px;
    margin-bottom: 35px;
  }

  .accommodations-cards a {
    flex: none;
  }

  .accommodations-cards img {
    object-position: center 65%;
  }

  #activities {
    order: 3;
  }

  .activities-cards a {
    height: 200px;
    flex: none;
  }

  .activities-cards img {
    height: 70.5%;
  }

  /****** Footer ***********/

  footer {
    flex-direction: column;
    gap: 50px;
    padding: 30px;
  }

  .footer-content {
    width: fit-content;
    padding: 0;
  }
}

@media (max-width: 361px) {
  .filter-button {
    padding: 0;
    justify-content: center;
    gap: 8px;
  }
}
